[user]
  name = motty93
  email = rdwbocungelt5@gmail.com
[core]
  editor = vim
  autocrlf = input
  excludesfile = ~/.gitignore_global
#[remote "origin"]
#  fetch = +refs/heads/*:refs/remotes/origin/*
[color]
  diff = auto
  status = auto
  branch = auto
[help]
  autocorrect = 1
[diff]
  noprefix = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[submodule]
	recurse = true
